html {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height / $base-font-size; /* [1] */
    background-color: #fff;
    color: $color-text;

    -webkit-font-smoothing:  antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding: 0;
    margin: 0;
}
